# Arquivos de bytecode (compilados)
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais (caso use)
.venv/
venv/
env/

# Configurações locais do VS Code
.vscode/

# Histórico de comandos e estados do terminal do VS Code
.history/
